workflow/CyberWatch___Full_Threat_Intelligence_Platform_CLEAN.json
{
  "name": "CyberWatch — Full Threat Intelligence Platform",
  "nodes": [
    {
      "parameters": {},
      "id": "b2f60b9a-4647-4083-ae48-11e6aad93060",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "7e42e491-f2ed-4f5c-9726-36610da39b9a",
      "name": "Every Hour Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "9053a40e-1ee3-4a25-b713-eed404a38917",
      "name": "Daily 8AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        320,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst windowStart = new Date(now.getTime() - 72 * 60 * 60 * 1000);\n\nconst pubStartDate = windowStart.toISOString().replace('.000Z', '.000');\nconst pubEndDate = now.toISOString().replace('.000Z', '.000');\n\nconst url = `https://services.nvd.nist.gov/rest/json/cves/2.0?pubStartDate=${pubStartDate}&pubEndDate=${pubEndDate}&resultsPerPage=2000`;\n\nreturn [{\n  json: {\n    url,\n    pubStartDate,\n    pubEndDate,\n    source: 'NVD',\n    timestamp: now.toISOString()\n  }\n}];"
      },
      "id": "17b2daf6-6b4f-401f-86ed-75a184dc709b",
      "name": "Build NVD URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "CyberWatch/1.0 (Threat Intelligence Platform)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "id": "c4a8112e-da21-448c-af5b-dbe6baac5a3d",
      "name": "Fetch NVD CVEs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://otx.alienvault.com/api/v1/pulses/subscribed?limit=50&modified_since={{ $now.minus({hours: 72}).toISO() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-OTX-API-KEY",
              "value": "YOUR_OTX_API_KEY_HERE"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "2ccaeed8-fa26-4a22-86ba-76a88e23de06",
      "name": "Fetch OTX Pulses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e60b55e2-987e-421b-8b57-1b3ece783597",
      "name": "Fetch CISA KEV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.osv.dev/v1/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"package\": {\n    \"name\": \"log4j\",\n    \"ecosystem\": \"Maven\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "7d9bb0ab-d409-4c22-9f8f-8b358b08b78b",
      "name": "Fetch OSV Vulns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        784
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NORMALIZE NVD DATA\n// Converts NVD raw response into our standard CVE schema\n// ============================================================\nconst input = $input.item.json;\n\nif (!input.vulnerabilities || input.vulnerabilities.length === 0) {\n  return [{ json: { cves: [], count: 0, source: 'NVD' } }];\n}\n\nconst cves = input.vulnerabilities.map(item => {\n  const cve = item.cve;\n  const metrics = cve.metrics || {};\n  \n  // Try CVSS v3.1 first, then v3.0, then v2\n  let cvssScore = 0;\n  let severity = 'UNKNOWN';\n  let cvssVector = '';\n  \n  if (metrics.cvssMetricV31 && metrics.cvssMetricV31.length > 0) {\n    const m = metrics.cvssMetricV31[0];\n    cvssScore = m.cvssData.baseScore;\n    severity = m.cvssData.baseSeverity;\n    cvssVector = m.cvssData.vectorString;\n  } else if (metrics.cvssMetricV30 && metrics.cvssMetricV30.length > 0) {\n    const m = metrics.cvssMetricV30[0];\n    cvssScore = m.cvssData.baseScore;\n    severity = m.cvssData.baseSeverity;\n    cvssVector = m.cvssData.vectorString;\n  } else if (metrics.cvssMetricV2 && metrics.cvssMetricV2.length > 0) {\n    const m = metrics.cvssMetricV2[0];\n    cvssScore = m.cvssData.baseScore;\n    severity = m.baseSeverity || 'MEDIUM';\n    cvssVector = m.cvssData.vectorString;\n  }\n\n  // Extract affected products\n  const affected_products = [];\n  if (cve.configurations) {\n    cve.configurations.forEach(config => {\n      if (config.nodes) {\n        config.nodes.forEach(node => {\n          if (node.cpeMatch) {\n            node.cpeMatch.forEach(cpe => {\n              if (cpe.vulnerable) {\n                affected_products.push(cpe.criteria);\n              }\n            });\n          }\n        });\n      }\n    });\n  }\n\n  // Get English description\n  const description = cve.descriptions\n    ? (cve.descriptions.find(d => d.lang === 'en') || {}).value || 'No description available'\n    : 'No description available';\n\n  // Get references\n  const references = cve.references\n    ? cve.references.slice(0, 5).map(r => r.url)\n    : [];\n\n  return {\n    cve_id: cve.id,\n    source: 'NVD',\n    title: `${cve.id} — ${severity} Vulnerability`,\n    description: description,\n    cvss_score: cvssScore,\n    cvss_vector: cvssVector,\n    severity: severity,\n    affected_products: affected_products.slice(0, 10),\n    references: references,\n    published_at: cve.published,\n    modified_at: cve.lastModified,\n    is_cisa_kev: false,\n    has_exploit: false,\n    epss_score: 0,\n    priority_score: 0,\n    category: 'UNCATEGORIZED',\n    ai_summary: '',\n    ai_classification: null,\n    correlation_data: null,\n    normalized_at: new Date().toISOString()\n  };\n});\n\nreturn [{ json: { cves, count: cves.length, source: 'NVD' } }];"
      },
      "id": "0834d46d-c72f-44c8-9343-fbeef768c761",
      "name": "Normalize NVD Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NORMALIZE OTX DATA\n// Extracts CVE references from AlienVault OTX pulses\n// ============================================================\nconst input = $input.item.json;\n\nif (!input.results || input.results.length === 0) {\n  return [{ json: { cves: [], count: 0, source: 'OTX' } }];\n}\n\nconst cves = [];\n\ninput.results.forEach(pulse => {\n  // Extract CVE indicators from pulse\n  const cveIndicators = (pulse.indicators || []).filter(ind => ind.type === 'CVE');\n  \n  cveIndicators.forEach(ind => {\n    cves.push({\n      cve_id: ind.indicator,\n      source: 'OTX',\n      title: `${ind.indicator} — from OTX Pulse: ${pulse.name}`,\n      description: pulse.description || ind.description || 'Threat intelligence from AlienVault OTX',\n      cvss_score: 0,\n      cvss_vector: '',\n      severity: 'UNKNOWN',\n      affected_products: pulse.tags || [],\n      references: [pulse.references?.[0] || ''].filter(Boolean),\n      published_at: ind.created || pulse.created,\n      modified_at: pulse.modified,\n      is_cisa_kev: false,\n      has_exploit: pulse.adversary ? true : false,\n      epss_score: 0,\n      priority_score: 0,\n      category: 'UNCATEGORIZED',\n      otx_pulse_name: pulse.name,\n      otx_adversary: pulse.adversary || '',\n      otx_targeted_countries: pulse.targeted_countries || [],\n      otx_industries: pulse.industries || [],\n      ai_summary: '',\n      ai_classification: null,\n      normalized_at: new Date().toISOString()\n    });\n  });\n});\n\nreturn [{ json: { cves, count: cves.length, source: 'OTX' } }];"
      },
      "id": "34978f1a-8407-4afe-8377-dae30ac0dcb8",
      "name": "Normalize OTX Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NORMALIZE CISA KEV DATA\n// Marks CVEs as actively exploited\n// ============================================================\nconst input = $input.item.json;\n\nif (!input.vulnerabilities || input.vulnerabilities.length === 0) {\n  return [{ json: { cves: [], count: 0, source: 'CISA_KEV' } }];\n}\n\n// Only take entries added in the last 7 days\nconst sevenDaysAgo = new Date(Date.now() - 7 * 24 * 60 * 60 * 1000);\n\nconst cves = input.vulnerabilities\n  .filter(v => new Date(v.dateAdded) >= sevenDaysAgo)\n  .map(v => ({\n    cve_id: v.cveID,\n    source: 'CISA_KEV',\n    title: `${v.cveID} — ${v.vulnerabilityName}`,\n    description: v.shortDescription || v.vulnerabilityName,\n    cvss_score: 0,\n    cvss_vector: '',\n    severity: 'HIGH',\n    affected_products: [`${v.vendorProject} ${v.product}`],\n    references: [],\n    published_at: v.dateAdded,\n    modified_at: v.dateAdded,\n    is_cisa_kev: true,\n    has_exploit: true,\n    cisa_due_date: v.dueDate,\n    cisa_required_action: v.requiredAction,\n    epss_score: 0,\n    priority_score: 9.5,\n    category: 'ACTIVELY_EXPLOITED',\n    ai_summary: '',\n    ai_classification: null,\n    normalized_at: new Date().toISOString()\n  }));\n\nreturn [{ json: { cves, count: cves.length, source: 'CISA_KEV' } }];"
      },
      "id": "7b4663b5-a4e5-470f-b18f-c3b9d3eb2ca4",
      "name": "Normalize CISA KEV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\n\nconst allCves = [];\nconst seenIds = new Set();\n\nallInputs.forEach(input => {\n  const data = input.json;\n  if (data.cves && Array.isArray(data.cves)) {\n    data.cves.forEach(cve => {\n      if (cve.cve_id && cve.cve_id !== 'undefined' && !seenIds.has(cve.cve_id)) {\n        seenIds.add(cve.cve_id);\n        allCves.push(cve);\n      } else if (cve.cve_id && seenIds.has(cve.cve_id)) {\n        const existing = allCves.find(c => c.cve_id === cve.cve_id);\n        if (existing && cve.is_cisa_kev) {\n          existing.is_cisa_kev = true;\n          existing.priority_score = Math.max(existing.priority_score, 9.5);\n          existing.has_exploit = true;\n        }\n      }\n    });\n  }\n});\n\nconsole.log(`[COLLECTOR] Total unique CVEs collected: ${allCves.length}`);\n\nif (allCves.length === 0) {\n  return [];\n}\n\nreturn allCves.map(cve => ({ json: cve }));"
      },
      "id": "b5f46f45-d5a6-4649-913e-6df3f2f80571",
      "name": "Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f887c222-6b04-489d-9b82-92e67c0a477e",
      "name": "Has New CVEs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1424,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 2 — ENRICHER (Part A)\n// Fetch EPSS score for this CVE\n// EPSS = Exploit Prediction Scoring System\n// Tells us probability of exploitation in next 30 days\n// ============================================================\nconst cve = $input.item.json;\n\nreturn [{\n  json: {\n    ...cve,\n    epss_url: `https://api.first.org/data/v1/epss?cve=${cve.cve_id}`\n  }\n}];"
      },
      "id": "f088350b-4b0c-48f8-86de-53e3539d7509",
      "name": "Build EPSS URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.epss_url }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "edd52c22-f7e1-4586-b495-df09eda7e552",
      "name": "Fetch EPSS Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MERGE EPSS SCORE BACK INTO CVE\n// ============================================================\nconst epssResponse = $input.item.json;\n\n// Get the CVE data from previous step in chain\n// EPSS API returns: { data: [{ cve, epss, percentile, date }] }\nlet epssScore = 0;\nlet epssPercentile = 0;\n\nif (epssResponse.data && epssResponse.data.length > 0) {\n  epssScore = parseFloat(epssResponse.data[0].epss) || 0;\n  epssPercentile = parseFloat(epssResponse.data[0].percentile) || 0;\n}\n\n// Pass along all previous CVE data\nconst previousCve = $('Build EPSS URL').item.json;\n\nreturn [{\n  json: {\n    ...previousCve,\n    epss_score: epssScore,\n    epss_percentile: epssPercentile,\n    epss_fetched_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "e682bcce-4bcf-4e51-bc51-84e38f5a3097",
      "name": "Add EPSS to CVE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 2 — ENRICHER (Part B)\n// Build Groq API prompt for rapid CVE classification\n// ============================================================\nconst cve = $input.item.json;\n\nconst prompt = `You are a senior cybersecurity analyst. Analyze this CVE and respond ONLY with valid JSON, no markdown, no explanation.\n\nCVE ID: ${cve.cve_id}\nSeverity: ${cve.severity}\nCVSS Score: ${cve.cvss_score}\nDescription: ${cve.description}\nAffected Products: ${JSON.stringify(cve.affected_products?.slice(0, 5))}\nIs CISA KEV (Actively Exploited): ${cve.is_cisa_kev}\nEPSS Score (exploitation probability): ${cve.epss_score}\n\nRespond with this exact JSON structure:\n{\n  \"category\": \"one of: Web Application | Network Protocol | Operating System | Database | Library/Framework | Cloud/Container | IoT/Embedded | Hardware | Cryptography | Authentication\",\n  \"attack_type\": \"e.g. Remote Code Execution | SQL Injection | Buffer Overflow | Privilege Escalation | XSS | CSRF | Path Traversal | Denial of Service | Information Disclosure\",\n  \"attack_complexity\": \"Low | Medium | High\",\n  \"requires_authentication\": true or false,\n  \"network_exploitable\": true or false,\n  \"likely_targets\": [\"list of 2-3 industries most at risk\"],\n  \"urgency\": \"CRITICAL | HIGH | MEDIUM | LOW\",\n  \"plain_english_summary\": \"2-3 sentence explanation a non-technical person can understand\",\n  \"technical_impact\": \"what an attacker can achieve if they exploit this\",\n  \"recommended_action\": \"immediate action to take (patch version, workaround, etc)\"\n}`;\n\nreturn [{\n  json: {\n    ...cve,\n    groq_prompt: prompt\n  }\n}];"
      },
      "id": "89a028c6-d4db-4697-b72d-7bb027628d05",
      "name": "Build Groq Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.groq_prompt) }}\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 800,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e18de2ac-6595-4a1d-a509-5c73b657ffcf",
      "name": "Groq Classify CVE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE GROQ CLASSIFICATION RESPONSE\n// ============================================================\nconst groqResponse = $input.item.json;\nconst previousCve = $('Build Groq Prompt').item.json;\n\nlet classification = null;\ntry {\n  const content = groqResponse.choices?.[0]?.message?.content || '{}';\n  classification = JSON.parse(content);\n} catch (e) {\n  console.error('[ENRICHER] Failed to parse Groq response:', e.message);\n  classification = {\n    category: 'UNCATEGORIZED',\n    attack_type: 'Unknown',\n    attack_complexity: 'Unknown',\n    requires_authentication: false,\n    network_exploitable: true,\n    likely_targets: [],\n    urgency: previousCve.severity || 'MEDIUM',\n    plain_english_summary: previousCve.description?.substring(0, 200) || '',\n    technical_impact: 'Unknown',\n    recommended_action: 'Check vendor advisory'\n  };\n}\n\n// ============================================================\n// CALCULATE COMPOSITE PRIORITY SCORE\n// Formula: (CVSS × 0.30) + (EPSS × 0.25) + (CISA_KEV × 0.20) \n//        + (Exploit_Available × 0.15) + (Network_Exploitable × 0.10)\n// ============================================================\nconst cvssNorm = (previousCve.cvss_score || 0) / 10;\nconst epssNorm = previousCve.epss_score || 0;\nconst cisaBonus = previousCve.is_cisa_kev ? 1 : 0;\nconst exploitBonus = previousCve.has_exploit ? 1 : 0;\nconst networkBonus = classification.network_exploitable ? 1 : 0;\n\nconst priorityScore = (\n  (cvssNorm * 0.30) +\n  (epssNorm * 0.25) +\n  (cisaBonus * 0.20) +\n  (exploitBonus * 0.15) +\n  (networkBonus * 0.10)\n) * 10;\n\nconst finalPriority = Math.min(10, parseFloat(priorityScore.toFixed(2)));\n\nconst enrichedCve = {\n  ...previousCve,\n  ai_classification: classification,\n  category: classification.category || 'UNCATEGORIZED',\n  attack_type: classification.attack_type || 'Unknown',\n  urgency: classification.urgency || previousCve.severity || 'MEDIUM',\n  plain_english_summary: classification.plain_english_summary || '',\n  technical_impact: classification.technical_impact || '',\n  recommended_action: classification.recommended_action || '',\n  priority_score: finalPriority,\n  enriched_at: new Date().toISOString()\n};\n\nconsole.log(`[ENRICHER] ${enrichedCve.cve_id} | Priority: ${finalPriority} | Urgency: ${enrichedCve.urgency}`);\n\nreturn [{ json: enrichedCve }];"
      },
      "id": "92a521d3-3dd0-49c9-852a-47973767235f",
      "name": "Parse & Score CVE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 3 — CORRELATOR (Part A)\n// Build Gemini prompt to find correlations with known threats\n// ============================================================\nconst cve = $input.item.json;\n\nconst geminiPrompt = `You are a threat intelligence analyst with expertise in vulnerability research and threat actor profiling.\n\nAnalyze this CVE and provide correlation intelligence. Respond ONLY with valid JSON.\n\nCVE: ${cve.cve_id}\nCategory: ${cve.category}\nAttack Type: ${cve.attack_type}\nDescription: ${cve.description}\nAffected Products: ${JSON.stringify(cve.affected_products?.slice(0, 5))}\nCVSS Score: ${cve.cvss_score}\nEPSS Score: ${cve.epss_score}\nIs CISA KEV: ${cve.is_cisa_kev}\nTechnical Impact: ${cve.technical_impact}\n\nRespond with this exact JSON:\n{\n  \"related_cve_patterns\": [\"2-3 CVE patterns or types that are commonly chained with this attack type\"],\n  \"likely_threat_actors\": [\n    {\n      \"name\": \"threat actor name (e.g. APT28, Lazarus Group, FIN7)\",\n      \"reason\": \"why this actor would be interested\",\n      \"origin\": \"country or organization\"\n    }\n  ],\n  \"attack_chain_potential\": {\n    \"can_chain\": true or false,\n    \"chain_description\": \"how this CVE fits into a larger attack chain\",\n    \"chain_entry_point\": true or false,\n    \"chain_payload\": true or false\n  },\n  \"mitre_attack_techniques\": [\"T1xxx technique IDs that match this vulnerability\"],\n  \"targeted_industries\": [\"industries most likely to be targeted\"],\n  \"exploitation_timeline\": \"immediate (exploit exists) | near-term (30 days) | medium-term (90 days) | long-term (6+ months)\",\n  \"correlation_confidence\": 0.0 to 1.0,\n  \"analyst_notes\": \"additional intelligence context a security team should know\"\n}`;\n\nreturn [{\n  json: {\n    ...cve,\n    gemini_prompt: geminiPrompt\n  }\n}];"
      },
      "id": "32891042-b20e-4966-80aa-5601a436edfa",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "YOUR_GEMINI_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($json.gemini_prompt) }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 1500,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "02c71c8a-8933-45bd-9d68-0bcf94a1f9ac",
      "name": "Gemini Correlate CVE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3472,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE GEMINI CORRELATION RESPONSE\n// ============================================================\nconst geminiResponse = $input.item.json;\nconst previousCve = $('Build Gemini Prompt').item.json;\n\nlet correlationData = null;\ntry {\n  const content = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n  correlationData = JSON.parse(content);\n} catch (e) {\n  console.error('[CORRELATOR] Failed to parse Gemini response:', e.message);\n  correlationData = {\n    related_cve_patterns: [],\n    likely_threat_actors: [],\n    attack_chain_potential: { can_chain: false },\n    mitre_attack_techniques: [],\n    targeted_industries: previousCve.ai_classification?.likely_targets || [],\n    exploitation_timeline: 'unknown',\n    correlation_confidence: 0.5,\n    analyst_notes: 'Correlation analysis unavailable'\n  };\n}\n\n// Boost priority score if high-confidence threat actor correlation found\nlet adjustedPriority = previousCve.priority_score;\nif (correlationData.correlation_confidence > 0.8 && \n    correlationData.likely_threat_actors?.length > 0) {\n  adjustedPriority = Math.min(10, adjustedPriority + 0.5);\n}\nif (correlationData.attack_chain_potential?.can_chain) {\n  adjustedPriority = Math.min(10, adjustedPriority + 0.3);\n}\n\nconst correlatedCve = {\n  ...previousCve,\n  correlation_data: correlationData,\n  threat_actors: correlationData.likely_threat_actors || [],\n  mitre_techniques: correlationData.mitre_attack_techniques || [],\n  attack_chain: correlationData.attack_chain_potential || {},\n  exploitation_timeline: correlationData.exploitation_timeline || 'unknown',\n  priority_score: parseFloat(adjustedPriority.toFixed(2)),\n  correlated_at: new Date().toISOString()\n};\n\nconsole.log(`[CORRELATOR] ${correlatedCve.cve_id} | Threat Actors: ${correlatedCve.threat_actors.length} | Chain: ${correlatedCve.attack_chain?.can_chain}`);\n\nreturn [{ json: correlatedCve }];"
      },
      "id": "047eae04-be57-4d4d-92cb-1c6239e0f9e0",
      "name": "Parse Correlation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SAVE TO POSTGRESQL\n// Saves the fully enriched + correlated CVE\n// NOTE: Configure your Postgres credentials in n8n credentials\n// ============================================================\nconst cve = $input.item.json;\n\n// Prepare the data for storage\n// We'll use the Execute Query node after this to actually save\nconst insertData = {\n  cve_id: cve.cve_id,\n  source: cve.source || 'UNKNOWN',\n  title: cve.title || cve.cve_id,\n  description: (cve.description || '').substring(0, 5000),\n  plain_english_summary: cve.plain_english_summary || '',\n  cvss_score: cve.cvss_score || 0,\n  cvss_vector: cve.cvss_vector || '',\n  severity: cve.severity || 'UNKNOWN',\n  urgency: cve.urgency || 'MEDIUM',\n  category: cve.category || 'UNCATEGORIZED',\n  attack_type: cve.attack_type || 'Unknown',\n  epss_score: cve.epss_score || 0,\n  epss_percentile: cve.epss_percentile || 0,\n  priority_score: cve.priority_score || 0,\n  is_cisa_kev: cve.is_cisa_kev || false,\n  has_exploit: cve.has_exploit || false,\n  affected_products: JSON.stringify(cve.affected_products || []),\n  references: JSON.stringify(cve.references || []),\n  threat_actors: JSON.stringify(cve.threat_actors || []),\n  mitre_techniques: JSON.stringify(cve.mitre_techniques || []),\n  attack_chain: JSON.stringify(cve.attack_chain || {}),\n  exploitation_timeline: cve.exploitation_timeline || 'unknown',\n  recommended_action: cve.recommended_action || '',\n  technical_impact: cve.technical_impact || '',\n  correlation_confidence: cve.correlation_data?.correlation_confidence || 0,\n  analyst_notes: cve.correlation_data?.analyst_notes || '',\n  published_at: cve.published_at || new Date().toISOString(),\n  enriched_at: cve.enriched_at || new Date().toISOString(),\n  correlated_at: cve.correlated_at || new Date().toISOString(),\n  created_at: new Date().toISOString()\n};\n\nreturn [{ json: insertData }];"
      },
      "id": "52a98666-6098-4f9e-8261-03d7f7494f45",
      "name": "Prepare DB Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO cve_intelligence (\n  cve_id, source, title, description, plain_english_summary,\n  cvss_score, cvss_vector, severity, urgency, category, attack_type,\n  epss_score, epss_percentile, priority_score, is_cisa_kev, has_exploit,\n  affected_products, \"references\", threat_actors, mitre_techniques,\n  attack_chain, exploitation_timeline, recommended_action, technical_impact,\n  correlation_confidence, analyst_notes, published_at, enriched_at,\n  correlated_at, created_at\n) VALUES (\n  '{{ $json.cve_id }}', '{{ $json.source }}', '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{ $json.plain_english_summary.replace(/'/g, \"''\") }}',\n  {{ $json.cvss_score }}, '{{ $json.cvss_vector }}',\n  '{{ $json.severity }}', '{{ $json.urgency }}',\n  '{{ $json.category }}', '{{ $json.attack_type }}',\n  {{ $json.epss_score }}, {{ $json.epss_percentile }},\n  {{ $json.priority_score }}, {{ $json.is_cisa_kev }}, {{ $json.has_exploit }},\n  '{{ $json.affected_products }}'::jsonb, '{{ $json.references }}'::jsonb,\n  '{{ $json.threat_actors }}'::jsonb, '{{ $json.mitre_techniques }}'::jsonb,\n  '{{ $json.attack_chain }}'::jsonb, '{{ $json.exploitation_timeline }}',\n  '{{ $json.recommended_action.replace(/'/g, \"''\") }}',\n  '{{ $json.technical_impact.replace(/'/g, \"''\") }}',\n  {{ $json.correlation_confidence }},\n  '{{ $json.analyst_notes.replace(/'/g, \"''\") }}',\n  '{{ $json.published_at }}', '{{ $json.enriched_at }}',\n  '{{ $json.correlated_at }}', '{{ $json.created_at }}'\n)\nON CONFLICT (cve_id) DO UPDATE SET\n  priority_score = EXCLUDED.priority_score,\n  urgency = EXCLUDED.urgency,\n  threat_actors = EXCLUDED.threat_actors,\n  correlated_at = EXCLUDED.correlated_at,\n  analyst_notes = EXCLUDED.analyst_notes;",
        "options": {}
      },
      "id": "4b3d5682-3641-469b-899d-e7b8fdd730f4",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4240,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-critical",
              "leftValue": "={{ $json.priority_score }}",
              "rightValue": 8.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a222f91-86ed-4dd4-8144-d0711b5b71d3",
      "name": "Is Critical? (Score >= 8.5)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4512,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 5 — DISPATCHER (Immediate Alert)\n// Fires instantly for CRITICAL CVEs (score >= 8.5)\n// ============================================================\nconst cve = $input.item.json;\n\n// Severity emoji map\nconst severityEmoji = {\n  'CRITICAL': '🔴',\n  'HIGH': '🟠', \n  'MEDIUM': '🟡',\n  'LOW': '🟢',\n  'UNKNOWN': '⚪'\n};\n\nconst emoji = severityEmoji[cve.urgency] || '⚠️';\nconst kevBadge = cve.is_cisa_kev ? '\\n⚡ ACTIVELY EXPLOITED (CISA KEV)' : '';\nconst chainBadge = cve.attack_chain?.can_chain ? '\\n🔗 Attack chain potential detected' : '';\n\nconst threatActorText = cve.threat_actors && cve.threat_actors.length > 0\n  ? `\\n👥 Linked threat actors: ${cve.threat_actors.slice(0,2).map(a => a.name).join(', ')}`\n  : '';\n\nconst mitreText = cve.mitre_techniques && cve.mitre_techniques.length > 0\n  ? `\\n🎯 MITRE ATT&CK: ${cve.mitre_techniques.slice(0,3).join(', ')}`\n  : '';\n\nconst message = `${emoji} *CRITICAL ALERT — CyberWatch*\n\n*${cve.cve_id}*\n${cve.title || cve.cve_id}${ kevBadge}${chainBadge}\n\n📊 *Scores*\n• CVSS: ${cve.cvss_score}/10\n• EPSS: ${(cve.epss_score * 100).toFixed(1)}% exploitation probability\n• Priority: ${cve.priority_score}/10\n\n📝 *What this means*\n${cve.plain_english_summary || cve.description?.substring(0, 300) || 'See full report'}\n\n💥 *Attack type:* ${cve.attack_type || 'Unknown'}\n🏭 *Category:* ${cve.category || 'Unknown'}${threatActorText}${mitreText}\n\n✅ *Recommended action*\n${cve.recommended_action || 'Check vendor advisory immediately'}\n\n⏱️ *Timeline:* ${cve.exploitation_timeline || 'Unknown'}\n🕐 Detected: ${new Date().toLocaleString('en-IN', {timeZone: 'Asia/Kolkata'})}`;\n\nreturn [{\n  json: {\n    ...cve,\n    telegram_message: message,\n    alert_type: 'IMMEDIATE_CRITICAL'\n  }\n}];"
      },
      "id": "0ca89842-7044-4395-ad0b-020ef658205d",
      "name": "Format Critical Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "48029889-e7bf-4f11-a71b-e4170e8d31d8",
      "name": "Send Critical Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5024,
        80
      ],
      "webhookId": "08a2970a-9087-48d4-b8d5-97057dcad818",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 4 — PRIORITIZER\n// Runs at 8AM — Fetches today's CVEs and ranks them\n// Generates a daily digest\n// ============================================================\nconst trigger = $input.item.json;\n\n// This will query our database for yesterday/today's CVEs\n// We prepare the query\nconst since = new Date(Date.now() - 24 * 60 * 60 * 1000).toISOString();\n\nreturn [{\n  json: {\n    query_since: since,\n    generated_at: new Date().toISOString(),\n    trigger_type: 'DAILY_DIGEST'\n  }\n}];"
      },
      "id": "821716c2-6b69-408b-a55c-53741aaae565",
      "name": "Prepare Digest Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM cve_intelligence\nWHERE created_at >= NOW() - INTERVAL '24 hours'\nORDER BY priority_score DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "9988bdd1-1517-4e6d-814a-cb9c1edbe5ea",
      "name": "Fetch Today's CVEs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        928,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 4 — PRIORITIZER (continued)\n// Groups CVEs by severity and formats digest\n// ============================================================\nconst allItems = $input.all();\nconst cves = allItems.map(item => item.json);\n\nif (cves.length === 0 || (cves.length === 1 && !cves[0].cve_id)) {\n  return [{\n    json: {\n      message: 'No CVEs to report today.',\n      critical: [], high: [], medium: [], low: [],\n      total: 0\n    }\n  }];\n}\n\n// Group by urgency\nconst groups = { CRITICAL: [], HIGH: [], MEDIUM: [], LOW: [], UNKNOWN: [] };\n\ncves.forEach(cve => {\n  const urgency = cve.urgency || 'UNKNOWN';\n  if (groups[urgency]) {\n    groups[urgency].push(cve);\n  } else {\n    groups.UNKNOWN.push(cve);\n  }\n});\n\n// Sort each group by priority_score\nObject.keys(groups).forEach(key => {\n  groups[key].sort((a, b) => (b.priority_score || 0) - (a.priority_score || 0));\n});\n\n// Top CVEs to highlight\nconst topCritical = groups.CRITICAL.slice(0, 5);\nconst topHigh = groups.HIGH.slice(0, 5);\nconst topMedium = groups.MEDIUM.slice(0, 3);\n\n// Stats\nconst stats = {\n  total: cves.length,\n  critical: groups.CRITICAL.length,\n  high: groups.HIGH.length,\n  medium: groups.MEDIUM.length,\n  low: groups.LOW.length,\n  cisa_kev: cves.filter(c => c.is_cisa_kev).length,\n  with_exploit: cves.filter(c => c.has_exploit).length,\n  with_threat_actors: cves.filter(c => {\n    try { return JSON.parse(c.threat_actors || '[]').length > 0; } catch(e) { return false; }\n  }).length\n};\n\nreturn [{\n  json: {\n    stats,\n    topCritical,\n    topHigh,\n    topMedium,\n    allGroups: groups,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "92b974b7-713e-4d89-aa65-bcf72a478371",
      "name": "Group & Rank CVEs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "YOUR_GEMINI_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify(`You are a cybersecurity briefing writer. Write a SHORT executive summary (3-4 sentences max) for today's threat intelligence digest. Focus on the most important patterns and what security teams should prioritize. Be direct and actionable.\\n\\nToday's stats:\\n- Total new CVEs: ${$json.stats.total}\\n- Critical: ${$json.stats.critical}\\n- High: ${$json.stats.high}\\n- CISA KEV (actively exploited): ${$json.stats.cisa_kev}\\n- Has public exploit: ${$json.stats.with_exploit}\\n\\nTop Critical CVEs: ${JSON.stringify($json.topCritical.slice(0,3).map(c => ({id: c.cve_id, score: c.priority_score, type: c.attack_type, category: c.category})))}\\n\\nWrite the executive summary now:`) }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 300\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "2c319ab2-756b-49b1-b926-0e966760e4db",
      "name": "Generate Digest Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGENT 5 — DISPATCHER (Daily Digest)\n// Formats the beautiful morning Telegram digest\n// ============================================================\nconst geminiResponse = $input.item.json;\nconst digestData = $('Group & Rank CVEs').item.json;\n\n// Extract Gemini summary\nconst execSummary = geminiResponse.candidates?.[0]?.content?.parts?.[0]?.text \n  || 'Daily threat intelligence digest ready.';\n\nconst stats = digestData.stats;\nconst topCritical = digestData.topCritical || [];\nconst topHigh = digestData.topHigh || [];\n\n// Format date in IST\nconst dateStr = new Date().toLocaleDateString('en-IN', {\n  timeZone: 'Asia/Kolkata',\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Build critical CVE lines\nconst criticalLines = topCritical.slice(0, 5).map((cve, i) => {\n  const kevTag = cve.is_cisa_kev ? ' ⚡' : '';\n  const exploitTag = cve.has_exploit ? ' 💣' : '';\n  return `${i + 1}. *${cve.cve_id}*${kevTag}${exploitTag}\n   └ ${cve.attack_type || 'Unknown'} | Score: ${cve.priority_score}/10\n   └ ${(cve.plain_english_summary || cve.description || '').substring(0, 100)}...`;\n}).join('\\n\\n');\n\n// Build high CVE lines\nconst highLines = topHigh.slice(0, 3).map((cve, i) => {\n  return `${i + 1}. *${cve.cve_id}* — ${cve.attack_type || 'Unknown'} (${cve.priority_score}/10)`;\n}).join('\\n');\n\nconst message = `🛡️ *CyberWatch Daily Brief*\n📅 ${dateStr}\n${'─'.repeat(30)}\n\n📊 *Today's Numbers*\n• Total new CVEs: *${stats.total}*\n• 🔴 Critical: *${stats.critical}*\n• 🟠 High: *${stats.high}*\n• 🟡 Medium: *${stats.medium}*\n• ⚡ CISA KEV (active attacks): *${stats.cisa_kev}*\n• 💣 Public exploits available: *${stats.with_exploit}*\n${'─'.repeat(30)}\n\n🤖 *AI Executive Summary*\n${execSummary}\n${'─'.repeat(30)}\n\n🔴 *TOP CRITICAL THREATS*\n${criticalLines || 'No critical CVEs today ✅'}\n${'─'.repeat(30)}\n\n${topHigh.length > 0 ? `🟠 *TOP HIGH SEVERITY*\n${highLines}\n${'─'.repeat(30)}\n\n` : ''}⚡ = Actively exploited | 💣 = Public exploit available\n\n🕐 Generated: ${new Date().toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata'})} IST\n📡 Sources: NVD • OTX • CISA KEV • OSV.dev`;\n\nreturn [{\n  json: {\n    digest_message: message,\n    stats: digestData.stats,\n    generated_at: new Date().toISOString(),\n    alert_type: 'DAILY_DIGEST'\n  }\n}];"
      },
      "id": "1624f272-9484-40c9-9ed9-9315388b48ce",
      "name": "Format Daily Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        560
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $json.digest_message }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "a3a3212e-87a6-453d-8a54-fb5c3f4b841c",
      "name": "Send Daily Digest Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2128,
        576
      ],
      "webhookId": "54135309-775a-4ee4-a1bf-13b044600c86",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// LOG COMPLETED RUN\n// ============================================================\nconst result = $input.item.json;\nconsole.log(`[DISPATCHER] Daily digest sent. Stats: ${JSON.stringify(result.stats)}`);\nreturn [{ json: { status: 'SUCCESS', message: 'Daily digest delivered', ...result } }];"
      },
      "id": "686d2c0f-dbf2-4214-9af3-86cc72548716",
      "name": "Log Digest Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        544
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// LOG NON-CRITICAL CVE SAVED\n// ============================================================\nconst cve = $input.item.json;\nconsole.log(`[SAVED] ${cve.cve_id} | Priority: ${cve.priority_score} | Urgency: ${cve.urgency}`);\nreturn [{ json: { status: 'SAVED', cve_id: cve.cve_id, priority_score: cve.priority_score } }];"
      },
      "id": "dde00d9b-c693-48a1-b72d-a06191d00a51",
      "name": "Log Saved (Non-Critical)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4768,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ERROR HANDLER — catches failures in the pipeline\nconst error = $input.item.json;\nconsole.error('[ERROR] Pipeline failure:', JSON.stringify(error));\nreturn [{ json: { status: 'ERROR', error: error, timestamp: new Date().toISOString() } }];"
      },
      "id": "461f6faa-750f-40ef-89ad-fa9d8b7a6ae1",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Build NVD URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Hour Trigger": {
      "main": [
        [
          {
            "node": "Build NVD URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OTX Pulses",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CISA KEV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OSV Vulns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8AM Trigger": {
      "main": [
        [
          {
            "node": "Prepare Digest Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build NVD URL": {
      "main": [
        [
          {
            "node": "Fetch NVD CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NVD CVEs": {
      "main": [
        [
          {
            "node": "Normalize NVD Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OTX Pulses": {
      "main": [
        [
          {
            "node": "Normalize OTX Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CISA KEV": {
      "main": [
        [
          {
            "node": "Normalize CISA KEV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OSV Vulns": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize NVD Data": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize OTX Data": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize CISA KEV": {
      "main": [
        [
          {
            "node": "Merge & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Deduplicate": {
      "main": [
        [
          {
            "node": "Build EPSS URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build EPSS URL": {
      "main": [
        [
          {
            "node": "Fetch EPSS Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch EPSS Score": {
      "main": [
        [
          {
            "node": "Add EPSS to CVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add EPSS to CVE": {
      "main": [
        [
          {
            "node": "Build Groq Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Prompt": {
      "main": [
        [
          {
            "node": "Groq Classify CVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Classify CVE": {
      "main": [
        [
          {
            "node": "Parse & Score CVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Score CVE": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Correlate CVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Correlate CVE": {
      "main": [
        [
          {
            "node": "Parse Correlation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Correlation": {
      "main": [
        [
          {
            "node": "Prepare DB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Insert": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to PostgreSQL": {
      "main": [
        [
          {
            "node": "Is Critical? (Score >= 8.5)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical? (Score >= 8.5)": {
      "main": [
        [
          {
            "node": "Format Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Saved (Non-Critical)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Critical Alert": {
      "main": [
        [
          {
            "node": "Send Critical Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Digest Query": {
      "main": [
        [
          {
            "node": "Fetch Today's CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's CVEs": {
      "main": [
        [
          {
            "node": "Group & Rank CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group & Rank CVEs": {
      "main": [
        [
          {
            "node": "Generate Digest Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Digest Summary": {
      "main": [
        [
          {
            "node": "Format Daily Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Digest": {
      "main": [
        [
          {
            "node": "Send Daily Digest Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Daily Digest Telegram": {
      "main": [
        [
          {
            "node": "Log Digest Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "58ee848f-467d-42b7-81c2-597e3774549d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "nodeGroups": [],
  "id": "mnHkylwp5KVdcyfR",
  "tags": [
    {
      "name": "CyberWatch",
      "id": "cEkZEZXK2zHix9PU",
      "updatedAt": "2026-06-23T17:59:55.770Z",
      "createdAt": "2026-06-23T17:59:55.770Z"
    },
    {
      "name": "Threat Intelligence",
      "id": "6ZuzjT2eSJqRXsRE",
      "updatedAt": "2026-06-23T17:59:55.767Z",
      "createdAt": "2026-06-23T17:59:55.767Z"
    },
    {
      "name": "Security",
      "id": "2MHjT3lcJItsG68B",
      "updatedAt": "2026-06-23T17:59:55.725Z",
      "createdAt": "2026-06-23T17:59:55.725Z"
    }
  ]
}